<div>
    <nav id="area-menu-aba">
        <ul>
            <li routerLinkActive="active-aba" >
                <a routerLink="/caixas">Caixa</a> 
            </li>
            <li routerLinkActive="active-aba" *ngIf="statusmodal">
                <a routerLink="/caixasforms">{{ nomecaixa }}</a><button class="fa-solid fa-x fa-xs"(click)="modalFechar()"></button>
            </li>

            <!-- <li [ngClass]="{'active-aba':!statusmodal}">
                Caixas
            </li>
            <li *ngIf="statusmodal" [ngClass]="{'active-aba':statusmodal}">
                {{ nomecaixa }} <button class="fa-solid fa-x fa-xs"
                (click)="modalFechar()"></button>
            </li> -->
        </ul>
    </nav>
</div>


