<div id="area-menu">
    <nav id="area-menu-aba">
        <ul>
            <!-- <li routerLinkActive="active-aba" (click)="teste('caixa')">
                <a routerLink="/caixas" >Caixa</a> 
            </li>
            <li routerLinkActive="active-aba" *ngIf="statusmodal" (click)="teste('novaAba')">
                <a routerLink="/caixasforms">{{ nomecaixa }}<button class="fa-solid fa-x fa-xs"
                (click)="modalFechar()"></button></a>
            </li> -->

            <li [ngClass]="{'active-aba':!statusmodal}">
                Caixas
            </li>
            <li *ngIf="statusmodal" [ngClass]="{'active-aba':statusmodal}">
                {{ nomecaixa }} <button class="fa-solid fa-x fa-xs"
                (click)="modalFechar()"></button>
            </li>
        </ul>
    </nav>
</div>


