<div id="caixas" *ngIf="!caixasForms.statusmodal">
    <div id="area-menu-functions">
        <div id="buttons-functions">
            <button (click)="caixasForms.modal()"><i class="fa-solid fa-circle-plus fa-lg fa-green"></i></button>
            <button (click)="exibir()"><i class="fa-solid fa-rotate fa-lg"></i></button>
            <button><i class="fa-solid fa-arrow-rotate-left fa-lg"></i></button>
        </div>
        <div id="pesq">
            <input type="search" placeholder="Pesquisar por título">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div id="smt-ativos">
            <input type="checkbox" checked id="somente-ativo" (click)="smtAtivos()">
            <label for="somente-ativo">Somente ativos</label> 
        </div>
    </div> 
    <div id="container-table" >
        <div id="table-borda">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Alterar</th>
                        <th scope="col">Excluir</th>
                        <th scope="col" class="text-left">Código</th>
                        <th scope="col" class="text-left">Nome</th>
                        <th scope="col">Status</th>
                        <th scope="col">ID</th>
                    </tr>
                </thead>
                <tbody *ngFor="let itemsCaixas of caixas let i = index">
                    <tr>
                        <td class="width-5"><button class="fa-solid fa-pen-to-square" (click)="alterarItem(i)" ></button></td>
                        <td class="width-5"><button class="fa-solid fa-trash-can" (click)="excluirItem(i)"></button></td>
                        <td class="width-10">{{ itemsCaixas.codigo |uppercase }} </td>
                        <td class="width-70">{{ itemsCaixas.nome |uppercase }}</td>
                        <td class="width-5"><button>
                        <i class="fa-solid"
                        [ngClass]="verificaStatusCss(itemsCaixas.ativo)">                    
                        </i></button></td>
                        <td class="width-5">{{ i }}</td>
                    </tr>            
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-caixas-forms #caixasForms></app-caixas-forms>


